*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: white;
}


body {
    width: 100vw;
    height: 100vh;
    overflow: hidden
}


.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size:100%;
}

.forma {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
    transform: scale(0);
    transition: 0.4s ease-in-out;
}

.forma.active {
    transform: scale(100%);
}

h1, h2, h3{
    font-size: 0px;
}

.dark{
    width: 100vw;
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
}

header{
    padding-top: 99px;
    height: 155px;
    border-bottom: 1px solid white;
}

header, .nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width:  90%;
    margin: 0 auto;
}

.box{
    width: 600px;
    margin: 50px auto;
}


.nav_list{
    margin-left: 1040px;
    font-weight: 500;
    font-size: 18px;
}

.search_icon, 
.logo {
    cursor: pointer;
}

.nav_list li{
    margin-right: 50px;
    cursor: pointer;
    padding: 10px 0;
}

.nav_list li:hover {
    margin-bottom: 12px;
    border-bottom: 3px solid#E30A17;
}



.main_text {
    margin-top: 177px;
}

.title_text {
    font-size: 64px;
    font-weight: 700;
    line-height: 66.88px;
}

.description {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.44px;
}

.explore_btn {
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 47px;
    background-color: #E30A17;
}

.explore_btn a{
    padding: 10px 33px;
}


.second_block {
    display: flex;
    justify-content: space-between;
}


.article_text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 155px;
    backdrop-filter: blur(6px);
    background-color: #ffffff50;
    
}

.cappa {
    margin-right: 110px;
    margin-bottom: 4px;
    font-size: 18.73px;
    font-weight: 900;
}


.description_mini{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
}

.view_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 296px;
    height: 54px;
    background-color: #E30A17;
}

.view_btn p{
    font-size: 14.04px;
    font-weight: 500;
    margin-right: 15.29px;
}

.arrow {
    filter: invert();
    margin-right: 34.08px;
}


.social_icon_list{
    display: flex;
}

.social_icon{
    margin-top: 118.5px;
    margin-right: 19.37px;
    fill: white;
    width: 21px;
}


.useX:hover{
    fill: red;
    cursor: pointer;
}


.absolute {
    position: absolute;
    margin-top: 530px;
    top: 100px;
    right: 94px;
}


.forma_container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.forma_body {
    position: relative;
    background-color: #fff;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotma_title {
    font-size: 20px;
    color: black;
}

.forma_body input {
    margin-top: 50px;
    padding: 20px;
    width: 80%;
    color: black;
    border: solid 1px black;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.forma_body input:focus {
    outline: none;
}

button {
    cursor: pointer;
    border-style: none;
}

.forma_body button {
    outline: none;
    margin-top: 20px;
    width: 50%;
    height: 10%;
    background-color: #E30A17;
}




.forma_close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
    color: black;
}